<div id="sidebar">
  <div class="inner">

    <!-- Search -->
    <section id="searchBar" class="alt">
	    <form method="get" action="{{ site.baseurl }}/search.html">
		    <input type="text" id="search" name="searchString" placeholder="Search">
	    </form>
    </section>

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/start.html">Start Here</a></li>
        <li><a href="/about.html">About Sam</a></li>
        <li><a href="/book.html">The Book</a></li>
        <li><a href="/contact.html">Say Hello</a></li>
        <li><a href="/events.html">Events & Workshops</a></li>
        <li>
          <span class="opener">The Good Stuff</span>
          <ul>
            <li><a href="/videos.html">Videos</a></li>
            <li><a href="/newsletter.html">Newsletter</a></li>
            <li><a href="/downloads.html">Downloads</a></li>
          </ul>
        </li>
        <li>
          <span class="opener">Topics</span>
          <ul>
            <li><a href="/freedom.html">Money and freedom</a></li>
            <li><a href="/spending.html">Wrangle your spending</a></li>
            <li><a href="/investing.html">Saving and investing</a></li>
            <li><a href="/debt.html">Get the fuck out of debt</a></li>
            <li><a href="/etc.html">Et cetera</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Key Info -->
    <!-- TODO: replace with some information about what this is and a link to the book  -->
    <section>
      <header class="major">
        <h2>Stop being a slave to your paycheque</h2>
      </header>
      <div class="mini-posts">
        <article>
          <a href="/book.html" class="image"><img src="/images/lafg_ad.jpg" alt="Manage Your Money Like a Fucking Grownup - the book" /></a>
          <p>Buy the book! It's the best thing since bread got sliced.</p>
        </article>
        <article>
          <a href="/etc/the-worksheet.html" class="image"><img src="/images/dashboard.png" alt="Money management dashboard" /></a>
          <p>Download the all-in-one magical worksheet to help you manage your money.</p>
        </article>
        <article>
          <a href="/events.html" class="image"><img src="/images/balloon-cat.jpg" alt="balloon-cat.jpg" /></a>
          <p>Want to meet Sam in person and tease her about her funny nose? Come to one of our live events, meetups or workshops.</p>
        </article>
      </div>
    </section>

    <!-- Contact -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Want to chat about workshops, talks at your school, or anything else? Hit me up!</p>
      <ul class="contact">
        <li class="fa-envelope-o"><a href="#">howzit@fuckinggrownups.com</a></li>
        </ul>
      </section>

      <footer id="footer">
        <p class="copyright">&copy; Sam Beckbessinger. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
  </div>

</div>
