<div id="sidebar">
  <div class="inner">

    <!-- Search -->
    <section id="search" class="alt">
      <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
      </form>
    </section>

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/start.html">Start Here</a></li>
        <li><a href="/about.html">About Sam</a></li>
        <li><a href="/book.html">The Book</a></li>
        <li><a href="/contact.html">Say Hello</a></li>
        <li>
          <span class="opener">The Good Stuff</span>
          <ul>
            <li><a href="/videos.html">Videos</a></li>
            <li><a href="/newsletter.html">Newsletter</a></li>
            <li><a href="/guides.html">Downloads</a></li>
          </ul>
        </li>
        <li>
          <span class="opener">Topics</span>
          <ul>
            <li><a href="/freedom.html">Money and freedom</a></li>
            <li><a href="/spending.html">Wrangle your spending</a></li>
            <li><a href="/investing.html">Saving and investing</a></li>
            <li><a href="/debt.html">Get the fuck out of debt</a></li>
            <li><a href="/etc.html">Et cetera</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Key Info -->
    <!-- TODO: replace with some information about what this is and a link to the book  -->
    <section>
      <header class="major">
        <h2>Stop being a slave to your paycheque</h2>
      </header>
      <div class="mini-posts">
        <article>
          <a href="#" class="image"><img src="/images/pic07.jpg" alt="" /></a>
          <p>We’re a community devoted to living the lives we really want to live, by learning how to make money our bitch.</p>
        </article>
        <article>
          <a href="#" class="image"><img src="/images/pic08.jpg" alt="" /></a>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
        </article>
        <article>
          <a href="#" class="image"><img src="/images/pic09.jpg" alt="" /></a>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
        </article>
      </div>
      <ul class="actions">
        <li><a href="#" class="button">More</a></li>
      </ul>
    </section>

    <!-- Contact -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>I'd love to talk to you. I am happy to speak at your events. Get in touch, yo.</p>
      <ul class="contact">
        <li class="fa-envelope-o"><a href="#">howzit@fuckinggrownups.com</a></li>
        </ul>
      </section>

      <footer id="footer">
        <p class="copyright">&copy; Sam Beckbessinger. All rights reserved. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
      </footer>
    </div>
  </div>

</div>
