<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-06-16-cancel-your-subscriptions.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121790.70936197</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-06-16-car-valuation-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121790.70937902</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-06-16-debt-repayment-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122300.88878298</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>49</integer>
				</dict>
			</dict>
			<key>2017-06-16-eac-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122157.701612</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>41</integer>
				</dict>
			</dict>
			<key>2017-06-16-early-retirement-case-studies.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121944.683231</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>2017-06-16-find-your-fucking-credit-score.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122383.95299</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>53</integer>
				</dict>
			</dict>
			<key>2017-06-16-get-some-fucking-advice.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122899.16736799</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>2017-06-16-good-funds.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122212.966389</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>45</integer>
				</dict>
			</dict>
			<key>2017-06-16-how-much-could-you-save-if-you-sold-your-car.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121790.709378</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-06-16-investment-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122069.35756397</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>37</integer>
				</dict>
			</dict>
			<key>2017-06-16-lifetime-earning-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122992.76027101</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>69</integer>
				</dict>
			</dict>
			<key>2017-06-16-print-these-spending-challenge-cards.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121790.70936298</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-06-16-rent-vs-buy-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121808.09811902</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>21</integer>
				</dict>
			</dict>
			<key>2017-06-16-retirement-replacement-calculator.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122020.40748203</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>2017-06-16-tell-me-about-your-side-hustles.md</key>
			<dict>
				<key>lastModification</key>
				<real>519123076.102938</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>73</integer>
				</dict>
			</dict>
			<key>2017-06-16-the-worksheet.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122769.92345101</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>2017-06-16-what-should-you-be-paying-your-domestic-worker.md</key>
			<dict>
				<key>lastModification</key>
				<real>519121790.70934701</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>18</integer>
				</dict>
			</dict>
			<key>2017-06-17-tools-to-help-you-manage-your-money.md</key>
			<dict>
				<key>lastModification</key>
				<real>519122842.76210397</real>
				<key>version</key>
				<dict>
					<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
					<integer>61</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-06-16-investment-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-good-funds.md</string>
		</array>
		<array>
			<string>2017-06-16-tell-me-about-your-side-hustles.md</string>
		</array>
		<array>
			<string>2017-06-16-lifetime-earning-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-get-some-fucking-advice.md</string>
		</array>
		<array>
			<string>2017-06-17-tools-to-help-you-manage-your-money.md</string>
		</array>
		<array>
			<string>2017-06-16-the-worksheet.md</string>
		</array>
		<array>
			<string>2017-06-16-find-your-fucking-credit-score.md</string>
		</array>
		<array>
			<string>2017-06-16-debt-repayment-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-eac-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-rent-vs-buy-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-what-should-you-be-paying-your-domestic-worker.md</string>
		</array>
		<array>
			<string>2017-06-16-cancel-your-subscriptions.md</string>
		</array>
		<array>
			<string>2017-06-16-print-these-spending-challenge-cards.md</string>
		</array>
		<array>
			<string>2017-06-16-how-much-could-you-save-if-you-sold-your-car.md</string>
		</array>
		<array>
			<string>2017-06-16-car-valuation-calculator.md</string>
		</array>
		<array>
			<string>2017-06-16-early-retirement-case-studies.md</string>
		</array>
		<array>
			<string>2017-06-16-retirement-replacement-calculator.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>6c2c9442ef1cf39dd7ec1cb6696e23789c4c1f27b761255cd02d1acb422b8531</key>
			<integer>74</integer>
		</dict>
	</dict>
</dict>
</plist>
