---
layout: default
---
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>It's time to start managing your money<br />
          like a fucking grownup.</h1>
        <p>A community devoted to bossing your money</p>
      </header>
      <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="images/pic10.jpg" alt="" />
    </span>
  </section>

<!-- Blog posts -->
  <section>
  <header class="major">
    <h2>Ipsum sed dolor</h2>
  </header>
  <div class="posts">
    {% for post in site.posts limit:4 %}
    <article>
      <a href="{{ post.url }}" class="image"><img src="images/pic01.jpg" alt="" /></a>
      <h3>{{ post.title }}</h3>
      {{ post.content | strip_html | truncatewords:75 }}
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">More</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
