---
layout: default
---
<!-- Banner -->
<section id="banner">
  <div class="content">
    <header>
      <h1>Are you ready to buy your freedom?</h1>
    </header>
    <p>Stop being a slave to your paycheque. We’re a community devoted to living the lives we really want to live, by learning how to make money our bitch.</p>
    <h3>Join the club</h3>
    <p>Pro-tips, videos and resources in your inbox once a week.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://arcay.us1.list-manage.com/subscribe/post?u=27378e44b1405e9f30e0f4d8d&amp;id=49c7db0e45" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="email" value="email address" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_27378e44b1405e9f30e0f4d8d_49c7db0e45" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
  <span class="image object">
    <a href="/book.html"><img src="images/Front cover.jpg" alt="Manage Your Money Like a Fucking Grownup" style="max-width:100%"/></a>
  </span>
</section>

<!-- Start here section -->
<section id="start-here">
  <div id="start-div">
    <h1>First time? We'll be gentle.</h1>
    <a href="/start.html" class="button special">Get started</a>
  </div>
</section>

<!-- Category explorer -->
<section>
  <header class="major">
    <h2>Explore these topics</h2>
  </header>
  <div class="features">
    <article>
      <a href="/freedom.html" style="border-bottom:none;color:grey;"><span class="icon fa-heart"></span>
      <div class="content">
        <h3>Money and Freedom</h3>
        <p>Philosophy, psychology, early retirement, what does money mean?</p></a>
      </div>
    </article>
    <article>
      <a href="/spending.html" style="border-bottom:none;color:grey;"><span class="icon fa-pie-chart"></span>
      <div class="content">
        <h3>Wrangle Your Spending</h3>
        <p>Trim that budget, cut out crap that doesn't make you happy, find more to save</p></a>
      </div>
    </article>
    <article>
      <a href="/investing.html" style="border-bottom:none;color:grey;"><span class="icon fa-diamond"></span>
      <div class="content">
        <h3>Saving and Investing</h3>
        <p>Compound interest, asset classes, finding good investments and savings accounts</p></a>
      </div>
    </article>
    <article>
      <a href="/debt.html" style="border-bottom:none;color:grey;"><span class="icon fa-credit-card-alt"></span>
      <div class="content">
        <h3>Get the Fuck Out of Debt</h3>
        <p>Debt freedom, strategies, what to do in debt emergencies</p></a>
      </div>
    </article>
    <article>
      <a href="/freedom.html" style="border-bottom:none;color:grey;"><span class="icon fa-graduation-cap"></span>
      <div class="content">
        <h3>Making Money</h3>
        <p>Jobs, side-hustles, entrepreneurship, studying, upskilling</p></a>
      </div>
    </article>
    <article>
      <a href="/etc.html" style="border-bottom:none;color:grey;"><span class="icon fa-newspaper-o"></span>
      <div class="content">
        <h3>Et Cetera</h3>
        <p>News, events, ramblings, other shit</p></a>
      </div>
    </article>
  </div>
</section>

<!-- Book ad -->
<section>
  <header class="major">
    <h2>Buy this damned sexy book</h2>
  </header>
  <p>You can find the book in most good bookstores, or here:</p>
  <ul>
    <li><a href="https://www.loot.co.za/product/sam-beckbessinger-manage-your-money-like-a-f-cking-grow/jxhs-5330-g800">Loot.co.za</a></li>
    <li><a href="https://www.amazon.com/Manage-Your-Money-cking-Grown-ebook/dp/B079TPSBR6/ref=sr_1_1?ie=UTF8&qid=1527493528&sr=8-1&keywords=beckbessinger">Amazon</a></li>
    <li><a href="https://www.takealot.com/manage-your-money-like-a-f-cking-grown-up/PLID48608525">Takealot</a></li>
  </ul>
</section>

  <!-- <div id='product-component-75fb898ca2f'></div>
  <script type="text/javascript">
  /*<![CDATA[*/

  (function () {
    var scriptURL = 'https://sdks.shopifycdn.com/buy-button/latest/buy-button-storefront.min.js';
    if (window.ShopifyBuy) {
      if (window.ShopifyBuy.UI) {
        ShopifyBuyInit();
      } else {
        loadScript();
      }
    } else {
      loadScript();
    }

    function loadScript() {
      var script = document.createElement('script');
      script.async = true;
      script.src = scriptURL;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(script);
      script.onload = ShopifyBuyInit;
    }

    function ShopifyBuyInit() {
      var client = ShopifyBuy.buildClient({
        domain: 'like-a-fucking-grownup.myshopify.com',
        apiKey: 'a3ede2f2ee5335a8f82b716cd02cf4e4',
        appId: '6',
      });

      ShopifyBuy.UI.onReady(client).then(function (ui) {
        ui.createComponent('product', {
          id: [816656613418],
          node: document.getElementById('product-component-75fb898ca2f'),
          moneyFormat: 'R%20%7B%7Bamount%7D%7D',
          options: {
    "product": {
      "buttonDestination": "checkout",
      "layout": "horizontal",
      "variantId": "all",
      "width": "100%",
      "contents": {
        "img": false,
        "imgWithCarousel": true,
        "variantTitle": false,
        "description": true,
        "buttonWithQuantity": true,
        "button": false,
        "quantity": false
      },
      "text": {
        "button": "BUY NOW"
      },
      "styles": {
        "product": {
          "text-align": "left",
          "@media (min-width: 601px)": {
            "max-width": "100%",
            "margin-left": "0",
            "margin-bottom": "50px"
          }
        },
        "button": {
          "font-family": "Open Sans, sans-serif",
          ":hover": {
            "background-color": "#6ca44e"
          },
          ":focus": {
            "background-color": "#6ca44e"
          },
          "font-weight": "bold"
        },
        "variantTitle": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        },
        "title": {
          "font-family": "Open Sans, sans-serif",
          "font-size": "26px"
        },
        "description": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        },
        "price": {
          "font-family": "Open Sans, sans-serif",
          "font-size": "18px",
          "font-weight": "normal"
        },
        "compareAt": {
          "font-size": "15px",
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        }
      },
      "googleFonts": [
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans"
      ]
    },
    "cart": {
      "contents": {
        "button": true
      },
      "styles": {
        "button": {
          "font-family": "Open Sans, sans-serif",
          ":hover": {
            "background-color": "#6ca44e"
          },
          ":focus": {
            "background-color": "#6ca44e"
          },
          "font-weight": "bold"
        },
        "footer": {
          "background-color": "#ffffff"
        }
      },
      "googleFonts": [
        "Open Sans"
      ]
    },
    "modalProduct": {
      "contents": {
        "img": false,
        "imgWithCarousel": true,
        "variantTitle": false,
        "buttonWithQuantity": true,
        "button": false,
        "quantity": false
      },
      "styles": {
        "product": {
          "@media (min-width: 601px)": {
            "max-width": "100%",
            "margin-left": "0px",
            "margin-bottom": "0px"
          }
        },
        "button": {
          "font-family": "Open Sans, sans-serif",
          ":hover": {
            "background-color": "#6ca44e"
          },
          ":focus": {
            "background-color": "#6ca44e"
          },
          "font-weight": "bold"
        },
        "variantTitle": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        },
        "title": {
          "font-family": "Open Sans, sans-serif"
        },
        "description": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        },
        "price": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        },
        "compareAt": {
          "font-family": "Open Sans, sans-serif",
          "font-weight": "normal"
        }
      },
      "googleFonts": [
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans",
        "Open Sans"
      ]
    },
    "toggle": {
      "styles": {
        "toggle": {
          "font-family": "Open Sans, sans-serif",
          ":hover": {
            "background-color": "#6ca44e"
          },
          ":focus": {
            "background-color": "#6ca44e"
          },
          "font-weight": "bold"
        }
      },
      "googleFonts": [
        "Open Sans"
      ]
    },
    "option": {
      "styles": {
        "label": {
          "font-family": "Open Sans, sans-serif"
        },
        "select": {
          "font-family": "Open Sans, sans-serif"
        }
      },
      "googleFonts": [
        "Open Sans",
        "Open Sans"
      ]
    },
    "productSet": {
      "styles": {
        "products": {
          "@media (min-width: 601px)": {
            "margin-left": "-20px"
          }
        }
      }
    }
  }
        });
      });
    }
  })();
  /*]]>*/
  </script> -->
<!-- </section> -->

<!-- Blog posts -->
<section>
  <header class="major">
    <h2>Recent articles</h2>
  </header>
  <div class="posts">
    {% for post in site.posts limit:8 %}
    <article>
      <a href="{{ post.url }}" class="image">{% assign image = post.images[0] %}{% include image.html image=image %}</a>
      <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
      {{ post.excerpt }}
      <ul class="actions">
        <li><a href="{{ post.url }}" class="button">More</a></li>
      </ul>
    </article>
    {% endfor %}
  </div>
</section>
